## Aula 01 - Python ##

In [1]:
# Verificando versão do Python
from platform import python_version
print('Versão: ', python_version())

Versão:  3.11.5

In [ ]:
#Instalando bibliotecas
# !pip install -q U watermark
# !pip install -q ipython -sql
# !pip install -q psycopg2
# !pip install -q pandas

In [2]:
# Importando as bibliotecas
import pandas as pd
import psycopg2

In [3]:
# Lendo o arquivo CSV
df = pd.read_csv('arquivos/diabetes.csv')

In [4]:
#Consultando a quantidade de linhas e colunas
df.shape

(768, 9)

In [5]:
#Lendo as primeiras linhas do dataframe
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
#Lendo as ultimas linhas do dataframe
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
#Consultando informações do dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [8]:
#Conexão com o Banco de Dados

conn = psycopg2.connect(
    host="localhost",
    database="t3_stage",
    user="postgres",
    password="1234"

)

In [28]:
#Criando o cursor

crsr = conn.cursor()

Inserindo informações no banco de dados.
Lembrar de rodar o cursor (abrir), antes de inserir os dados!

In [27]:
#Código da Aula

#Itere sobre as linhas do Dataframe e insira as linhas no Banco de Dados
#for index, row in df.iterrows():
    #crsr.execute("""INSERT INTO public.diabetes(pregnancies, glucose, blood_pressure, skin_thickness,
                 #insulin, bmi, diabetes_pedigree_function, age, outcome)
                 #VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)""",
                 #(row['Pregnancies'], row['Glucose'], row['BloodPressure'], row['SkinThickness'], row['Insulin'], row['BMI'],
                  #row['DiabetesPedigreeFunction'], row['Age'], row['Outcome']))

# Commit para efetivar as alterações
#conn.commit()

#Fechar o cursor
#crsr.close()

In [29]:
#Código com o tratamento de erros no código

for index, row in df.iterrows():
    try:
        crsr.execute("""INSERT INTO public.diabetes(pregnancies, glucose, blood_pressure, skin_thickness,
                     insulin, bmi, diabetes_pedigree_function, age, outcome)
                     VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)""",
                     (row['Pregnancies'], row['Glucose'], row['BloodPressure'], row['SkinThickness'], row['Insulin'], row['BMI'],
                      row['DiabetesPedigreeFunction'], row['Age'], row['Outcome']))
        conn.commit()
    except Exception as e:
        print(f"Erro ao inserir linha {index}: {str(e)}")
        conn.rollback()  # Reverta a transação em caso de erro

# Feche o cursor após o loop
crsr.close()

Para inserir novamente as informações, lembrar de TRUNCAR o banco, para que não se insira novamente os dados e duplique as informações

In [10]:
#Carregando a extensão
%load_ext sql

In [11]:
#Conectando o banco
%sql postgresql://postgres:1234@localhost/t3_stage

In [12]:
#Selecionando a tabela diabetes
%%sql

SELECT * FROM diabetes LIMIT 5

 * postgresql://postgres:***@localhost/t3_stage
5 rows affected.

[(2304, 148, 72, 35, 0, Decimal('33.6'), Decimal('0.627'), 50, 1, 6),
 (2305, 85, 66, 29, 0, Decimal('26.6'), Decimal('0.351'), 31, 0, 1),
 (2306, 183, 64, 0, 0, Decimal('23.3'), Decimal('0.672'), 32, 1, 8),
 (2307, 89, 66, 23, 94, Decimal('28.1'), Decimal('0.167'), 21, 0, 1),
 (2308, 137, 40, 35, 168, Decimal('43.1'), Decimal('2.288'), 33, 1, 0)]

In [13]:
#Criando a tabela de pacientes
%%sql

CREATE TABLE IF NOT EXISTS public.pacientes
(
    id serial,
    pregnacies integer,
    glucose integer,
    blood_pressure integer,
    skin_thicknes integer,
    insulin integer,
    bmi numeric(18,1),
    diabetes_pedigree_function numeric(18,3),
    age integer,
    outcome integer,
    CONSTRAINT pacientes_pkey PRIMARY KEY (id)
)

 * postgresql://postgres:***@localhost/t3_stage
Done.

[]

In [18]:
#Inserindo os dados na tabela pacientes
%%sql

INSERT INTO public.pacientes(
    pregnancies, glucose, blood_pressure, skin_thickness, insulin, bmi, diabetes_pedigree_function, age, outcome)
SELECT pregnancies, glucose, blood_pressure, skin_thickness, insulin, bmi, diabetes_pedigree_function, age, outcome
FROM public.diabetes
WHERE age > 50;

 * postgresql://postgres:***@localhost/t3_stage
81 rows affected.

[]

In [21]:
%%sql

ALTER TABLE IF EXISTS public.pacientes
    ADD COLUMN perfil text;

 * postgresql://postgres:***@localhost/t3_stage
Done.

[]

In [26]:
%%sql

-- Atualize o perfil para 'Normal' para pacientes com bmi < 30
UPDATE public.pacientes
SET perfil = 'Normal'
WHERE bmi < 30;

 * postgresql://postgres:***@localhost/t3_stage
76 rows affected.

[]

In [27]:
%%sql

-- Atualize o perfil para 'Obeso' para pacientes com bmi >= 30
UPDATE public.pacientes
SET perfil = 'Obeso'
WHERE bmi >= 30;

 * postgresql://postgres:***@localhost/t3_stage
86 rows affected.

[]

In [29]:
#criando um cursor
crsr = conn.cursor()
crsr.execute("""SELECT pregnancies, glucose, blood_pressure, skin_thickness, insulin, bmi, 
             diabetes_pedigree_function, age, outcome, perfil FROM pacientes""")

resultado = crsr.fetchall()

df_pacientes = pd.DataFrame(resultado, columns=['pregnancies', 'glucose', 'blood_pressure', 'skin_thickness',
                     'insulin', 'bmi', 'diabetes_pedigree_function', 'age', 'outcome', 'perfil'])

df_pacientes.to_csv('arquivos/paciente.csv', index=False)

# Feche o cursor após o loop
crsr.close()

#Resultado são 81